extends template/main

block variables
  - var title = 'Главная страницаwewewe'
  - var pageClass = 'index-page'



block content
  +icon('arrow-left')
  +icon('arrow-right')
  +icon('mail')
  +icon('logo')
  +icon('info')
  +icon('download')
  +icon('phone')
  +icon('phone-outline')
  +icon('profile')
  +icon('telegram')
  +icon('whatsapp')
  +icon('instagram')
  +icon('vk')
  +icon('eye-closed')
  +icon('eye-open')
  +icon('play')
  input(type='text' id='phone' placeholder='Введите телефон')


